body {
    font-family: sans-serif;
    padding: 20px;
}
form {
    margin-bottom: 20px;
}
input[type=text] {
    padding: 8px;
    width: 200px;
}
button {
    padding: 8px 12px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}
a {
    margin-left: 10px;
}

input{
    border: 2px solid rgb(44, 41, 41);
}


footer{
    background-color: green;
}

p{
    color: red;
}

